
*

!/.gitignore


!.config/
!.config/*
!.config/cmus/rc
!.config/geeqie/geeqierc.xml
!.config/i3/
!.config/i3/*
!.config/i3status/
!.config/i3status/*
!.config/mopidy/
!.config/mopidy/*
!.config/polybar/
!.config/polybar/*
!.config/rofi/
!.config/rofi/*

#!.config/spacefm/
#!.config/spacefm/*

!scripts/
!scripts/*

!.bashrc
!.bash_profile

!.emacs
#!.emacs.d/
#!.emacs.d/*

!.gitconfig

# vim plugins, ftplugins, syntax etc etc
!.vimrc
!.vim
!.vim/*
!.vim/*/*
!.vim/*/*/*
!.vim/*/*/*/*
!.vim/*/*/*/*/*
!.vim/*/*/*/*/*/*

# vim-plug - dont take the submodules
.vim/plugged

# vim ignore netrwhist and swapfiles
.vim/.netrwhist
.vim/.*.swp
.vim/*/.*.swp
.vim/*/*/.*.swp
.vim/*/*/*/.*.swp


!.Xresources

# ignore all swap files
*.swo
*.swp
